
(std) {
  log stdout
  errors stderr
}


:80 {
  import std
  gzip
  proxy / webwallet:7000 {
	transparent
  }
}


:80/mainnet/kibana {
  basicauth / kibana mainnet
  import std
  gzip
  proxy / kibanamainnet:5601 {
	transparent
  }
}


:80/mainnet/oip {
  import std
  gzip
  proxy / oipmainnet:1606/oip {
	transparent
  }
  cors
}


:80/testnet/kibana {
  import std
  gzip
  proxy / kibanatestnet:5601 {
	transparent
  }
}


:80/testnet/oip {
  basicauth / kibana testnet
  import std
  gzip
  proxy / oiptestnet:11606/oip {
	transparent
  }
  cors
}